body 
{
  font-family: Arial, sans-serif;
  background-color:  #d7bce8;
  color: #333;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
  h1 
{
  color: #333;
}
  
form, .lista 
{
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

label 
{
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

#nome, #des, #cat, #despesas, #receitas, #data, #valor
{
  width: calc(100% - 10px);
  padding: 8px;
  margin-bottom: 12px;
  border: 1px solid #000000;
  border-radius: 4px;
}

button 
{
  background-color: #c66af0;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover 
{
  background-color: #ecc2f4;
}

ul 
{
  list-style-type: none;
  padding: 0;
}

li 
{
  background-color: #978bdb;
  margin-bottom: 8px;
  padding: 10px;
  border-radius: 4px;
}

a 
{
  color: #bd96df;
  text-decoration: none;
  margin-top: 15px;
}

a:hover 
{
  text-decoration: underline;
}
