* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body 
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f9edff;
    color: black;
    line-height: 1.6;
}


header 
{
    background-color: #39104a;
    color: white;
    padding: 8px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
}

header .logo img 
{
    max-width: 40px;
    height: 20;
    margin-right: 10px;
}

ul 
{
    list-style: none;
    display: flex;
    gap: 15px;
    margin-left: auto;
}

li a 
{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1rem;
}

li a:hover 
{
    color: #d7bce8;
}

.banner 
{
    background: linear-gradient(45deg, #38054c, #d7bce8);
    color: white;
    text-align: center;
    padding: 80px 20px;
    min-height: 250px;
}

.banner h1 
{
    font-size: 1.5rem;  
    margin-bottom: 20px;
}

 #contato
 {
    color: #4a148c;
    margin: 20px;
 }

 #contato > ul > li > a
 {
    color:#4a148c;
 }
 
 #contato h2
 {
    color: #4a148c;
    margin: 20px;
 }

#sobre{
    background-color: #ffffff;
    margin: 20px;
}

#sobre h2, #servicos h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #6a1b9a;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px 0;
}


.card {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: calc(33.33% - 20px);
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 20px;
}


.card h3 {
    color: #6a1b9a;
    margin-bottom: 10px;
}


.card p {
    color: #666;
}


footer {
    background: #39104a;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 15px 0;
}

div{
    text-align: center;
}